@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  
  --color-background: var(--bg-color);
  --color-foreground: var(--text-color);
  --color-muted: var(--muted-text);
  --color-border: var(--border-color);
}

/* Light Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --muted-text: #6b7280;
  --border-color: #f3f4f6; /* slightly softer border for clean look */
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #0f172a; /* deeper slate */
  --text-color: #f8fafc;
  --muted-text: #94a3b8;
  --border-color: #1e293b;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans);
}
